body{
    /* background-image: url(./img/istockphoto-641443214-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    background-color: rgb(205, 205, 205);

}

.seccion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    padding: 2em;
}

.titulo{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    margin-top: 2em;
}

.titulo p{
    font-size: 0.6em;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 2em;
}


input{
  appearance: none;
  background-color: rgb(109, 109, 109);
  outline: none;
  border: 1px solid black;
  box-shadow: none;
  margin-bottom: 5px;
  position: relative;
  color: white;

}

input:focus {
    border:1px solid rgb(0, 0, 0);
    background-color:transparent;
    border-radius: 0.2em;
    }


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input::before{
    display: inline-block;
    position: absolute;
    right: 0;
    content: "cm";
    text-align: right;
}

.cuadrado{
    width: 20em;
    height: 30em;
    display: flex;
    background-color: rgb(150, 150, 150); 
    border: 1px solid black;
    border-radius: 0.4em;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 2em;
    margin: 1em;
}

.cuadrado img{
    width: 7em;
}

.cuadrado h2{
    font-family: 'Secular One', sans-serif;
    font-weight: 100;
    font-size: 2em;
    color: #fff;
}

.cuadrado div label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;

}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* .cuadrado input{
    background-color: #f26464;
    border-style: inset;
    color: #fff;
    font-weight: bold;
   
} */

.cuadrado button{
    margin-top: 1em;
    border-radius: 0.4em;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #fff;
    color:rgb(4, 86, 109) ;
    padding: 0.3em;
}

.cuadrado button:hover{
    background-color:rgb(4, 86, 109);
    cursor: pointer;
    color: #fff;
    transition: 1s;
}

/***** triangulo *****/
.triangulo div{
    width: 20em;
    height: 30em;
    display: flex;
    background-color: rgb(150, 150, 150); 
    border: 1px solid black;
    border-radius: 0.4em;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 2em;
    margin: 1em;

}

.triangulo img{
    width: 7em;
}

.triangulo h2{
    text-align: center;
    position: relative;
    font-family: 'Secular One', sans-serif;
    font-size: 1.5em;
    color: #fff;
    
}

.triangulo form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.triangulo label{
    font-style: italic;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0.5em;
}

/* .triangulo input{
    background-color: rgb(80, 176, 32);
    border-style: inset;
    color: #fff;
    font-weight: bold;
   
} */

.triangulo button{
    margin-top: 1em;
    border-radius: 0.4em;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #fff;
    color:rgb(4, 86, 109) ;
    padding: 3px;
}

.triangulo button:hover{
    background-color:rgb(4, 86, 109);
    cursor: pointer;
    color: #fff;
    transition: 1s;
}






/***** End triangulo *****/

/***** circulo *****/

.circulo{
    width: 20em;
    height: 30em;
    display: flex;
    background-color: rgb(150, 150, 150); 
    border: 1px solid black;
    border-radius: 0.4em;
    text-align: center;
    justify-content: space-between;
    padding: 2em;
    margin: 1em;
}
.circulo img{
    width: 7em;
}

.circulo h2{
    font-family: 'Secular One', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin: 0.5em;
}

.circulo label{
    font-style: italic;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0.5em;

}

/* .circulo input{
    background-color: #163c9a;
    border-style: inset;
    color: #fff;
    font-weight: bold;
   
} */

.circulo button{
    margin-top: 1em;
    border-radius: 0.4em;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #fff;
    color:rgb(4, 86, 109);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3px;

}

.seccion-circulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.circulo button:hover{
    background-color:rgb(4, 86, 109);
    cursor: pointer;
    color: #fff;
    transition: 1s;
}
/***** End circulo *****/

@media(max-width:1024px){
    .seccion{
        flex-direction:column;
    }

    .seccion section{
        margin: 2em;
    }

}
