body{
    /* background-image: url(./img/istockphoto-641443214-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    background-color: #000;

}

.seccion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-header{
    font-size: 3em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Secular One', sans-serif;
    color: #ffffff;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93
}

header p{
    font-size: 2em ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cuadrado{
    width: 20em;
    height: 20em;
    display: flex;
    background-color: red; 
    border: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.cuadrado h2{
    font-family: 'Secular One', sans-serif;
    font-size: 2em;
    color: #fff;
}

.cuadrado label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}

.cuadrado input{
    background-color: #f26464;
    border-style: inset;
    color: #fff;
    font-weight: bold;
   
}

.cuadrado button{
    margin-top: 1em;
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #fff;
    color:rgb(140, 23, 23) ;
    padding: 0.3em;
}

.cuadrado button:hover{
    background-color:rgb(140, 23, 23);
    cursor: pointer;
    color: #fff;
}

/***** triangulo *****/
.triangulo div{
    background-image: url(./img/png-transparent-green-triangle-illustration-penrose-triangle-equilateral-triangle-shape-green-triangle-angle-leaf-triangle-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35em;
    height: 30em;



}

.triangulo h2{
    text-align: center;
    position: relative;
    top:7em;
    font-family: 'Secular One', sans-serif;
    font-size: 1.5em;
    color: #fff;
    
}

.triangulo form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    top:10em;

}

.triangulo label{
    font-style: italic;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.triangulo input{
    background-color: rgb(80, 176, 32);
    border-style: inset;
    color: #fff;
    font-weight: bold;
   
}

.triangulo button{
    margin-top: 1em;
    border-radius: 1em;
    font-size: 0.7em;
    font-weight: bold;
    background-color: #fff;
    color:rgb(80, 176, 32) ;
    padding: 3px;
}

.triangulo button:hover{
    background-color:rgb(80, 176, 32);
    cursor: pointer;
    color: #fff;
}






/***** End triangulo *****/

/***** circulo *****/

.circulo{
    border-radius: 50%;
    max-width: 30em;
    max-height: 30em;
    width: 25em;
    height: 25em;
    display: flex;
    background-color: rgb(49, 118, 216);
    border: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
}

.circulo h2{
    font-family: 'Secular One', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 16px;
}

.circulo label{
    font-style: italic;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}

.circulo input{
    background-color: #163c9a;
    border-style: inset;
    color: #fff;
    font-weight: bold;
   
}

.circulo button{
    margin-top: 1em;
    border-radius: 1em;
    font-size: 0.7em;
    font-weight: bold;
    background-color: #fff;
    color:rgb(0, 7, 199);
    text-align: center;
    display: flex;
    justify-content: center;

}

.seccion-circulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circulo button:hover{
    background-color:rgb(0, 7, 199);
    cursor: pointer;
    color: #fff;
}
/***** End circulo *****/

@media(max-width:768px){
    .seccion{
        flex-direction:column;
    }

    .seccion section{
        margin: 1em;
    }

    .cuadrado h2{
        display: none;
    }

    .triangulo div{
        width: 27em;
        height: 22em;
    }

    .triangulo form{
        font-size: 10px;
        position: relative;
        top: 12em;
    }

    .triangulo form input{
        width: 8em;
    }

    .triangulo h2{
        display: none;
    }


    .circulo {
        width: 22em;
        height: 22em;
    }

    .circulo h2{
        display: none;
    }

    .circulo form{
        position: relative;
        top: 20px;
    }
}


@media (max-width: 1024px){
    .seccion{
        margin: 2em;
        flex-direction: column;
    }   
}
